@media (min-width: 992px) {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width: 1550px) { 
  .our-services .bottom-banner .theme-button-two {right: 0;}
}
@media (min-width: 992px) and (max-width: 1500px) {
  .theme-main-menu .menu-wrapper .logo {padding: 56px 2%;}
  .theme-main-menu .menu-list-wrapper {padding-left: 2%;}
  .theme-main-menu .right-widget .search-button button {margin-left: 10px;}
  .theme-main-menu .right-widget .button-group a {padding: 0 20px;}
  #mega-menu-holder>ul> li> a {padding-left: 20px;}
  #mega-menu-holder>ul> li {margin: 0 8px;}
  .theme-main-menu .right-widget {padding-right: 2%;}
  .client-section .right-content .carousel-indicators {top:-20%;}
}
@media (min-width: 992px) and (max-width: 1199px) {
  #mega-menu-holder>ul> li {margin: 0 5px;}
  #mega-menu-holder>ul> li> a {font-size: 20px;}
  .theme-main-menu .right-widget .button-group a {font-size: 15px;padding: 0 10px;}
  .theme-main-menu .right-widget .search-button button {width: 30px;font-size: 24px;}
  .theme-main-menu .right-widget .language-switcher button {padding-left: 12px;}
  .our-services .service-block {padding-left: 35px;padding-right: 35px;}
  .blog-grid-style .single-news-block {padding-right: 20px;}
  .footer-form-wrapper {padding: 65px 80px;}
  .blog-details-post .author-text {padding-right: 35px;}
  .contact-page .additional-block {padding: 48px 25px 90px;}
}
@media (max-width: 1199px) { 
  .our-case-study-feature.section-home {padding: 0 0 100px;}
  .pricing-section .tab-content {padding: 0;}
  .theme-footer {padding-top: 70px;}
  .our-services.center-text .service-block {padding-left: 15px;padding-right: 15px;}
  .contact-page .quick-find-block ul {padding-left: 25px;}
}
/*(min-width: 992px) and (max-width: 1199px)*/

@media (max-width: 375px) {
  .theme-banner-one .svg-shape-one {
    display: none;
  }
}

@media (max-width: 991px) {
  .theme-main-menu .menu-list-wrapper {
    float: none;
    position: absolute;
    top:0;
    left:15px;
    right: 15px;
    z-index: 5;
    padding: 0;
  }
  .theme-main-menu .right-widget {padding: 17px 15px 16px 0;}
  #mega-menu-holder.collapsed li {margin: 0;}
  #mega-menu-holder>ul> li> a:before {top:17px;left: 5px;}
  #mega-menu-holder ul.dropdown li a {font-size: 16px;line-height: 42px;}
  #searchWrapper {height: 80px;padding: 5px 0;}
  .theme-main-menu .right-widget .search-button button {margin: 0 10px;width: 30px;font-size: 25px;}
  .about-us .shape-one,.about-us .shape-two,.client-section .right-content .main-shape,
  .client-section .right-content .main-img,.our-case-study-feature .inner-wrapper:before,
  .our-case-study-feature .inner-wrapper:after,.blog-grid-style.home-layout:before,.theme-inner-banner .illustration,
  .theme-banner-one .main-text-wrapper h1 br,.theme-banner-one .shape-one,.theme-banner-two .img-shape-one,
  .about-us.style-two .single-block .block-shape {display: none;}
  .about-us .theme-button-two {position: static;margin-top: 40px;}
  .about-us {padding-top: 90px;margin-bottom: 120px;}
  .section-title p {padding-right: 0;}
  .section-title h2 {font-size: 42px;line-height: 55px;}
  .our-services .bottom-banner {text-align: center;}
  .our-services .bottom-banner {padding: 60px 25px}
  .our-services .bottom-banner .theme-button-two {position: relative;margin-top: 25px;transform:none;}
  .client-section .right-content {position: relative; width: 100%;margin-top: 25px;}
  .client-section .shape-two,.client-section .shape-one,.blog-grid-style.home-layout .shape-one {top:0;}
  .our-services {margin-bottom: 120px;}
  .client-section .text-wrapper {padding-top: 0;}
  .client-section .right-content .carousel-indicators {
    position: relative;
    display: block;
    margin: 0;
    text-align: center;
  }
  .client-section .right-content .carousel-indicators li {position: static;display: inline-block;}
  .section-title .section-inner-button {position: relative;margin-top: 25px;}
  .section-title.button-style p {padding: 40px 0 0 0;}
  .pricing-section {padding: 0;}
  .pricing-section .section-title p {padding: 25px 0 0;}
  .pricing-section .nav-tabs {padding-top: 70px;}
  .pricing-section .tab-content .price-table-wrapper {margin-bottom: 30px;}
  .blog-grid-style.home-layout {padding-top: 110px;}
  .blog-grid-style.home-layout .single-news-block {margin-bottom: 0;}
  .footer-form-wrapper {padding: 40px 15px;}
  .theme-footer .footer-main-widget {padding: 80px 0 30px;}
  .theme-footer .footer-main-widget .footer-list .title {margin: 0 0 15px;}
  .theme-footer .footer-main-widget [class*="col-"] {padding-bottom: 50px;}
  .our-services .section-title {padding-bottom: 60px;}
  .theme-main-menu .menu-wrapper .logo {padding: 25px 15px;}
  .agency-feature .section-title p {padding-right: 0;}
  .agency-feature .single-feature {margin-top: 30px;}
  .agency-feature .sub-heading {font-size: 35px;padding-top: 70px;}
  .agency-feature {padding-bottom: 15px;}
  .agency-feature:before {top:0;}
  .our-services.space-fix {margin: 115px 0 0;}
  .about-us.style-two .single-block {margin-bottom: 50px;}
  .faq-section {padding: 125px 0 0;}
  .our-team.inner-team-page {margin: 130px 0 0;}
  .error-page,.theme-details-page,.contact-page {padding-top: 125px;}
  .our-case,.theme-sidebar {padding-top: 115px;}
  .our-case .single-case-block .text .more-button {float: none;}
  .our-case .single-case-block img {margin: 45px auto 0;}
  .our-case .single-case-block .text .title {padding-top: 0;}
  .our-case .single-case-block {padding-bottom: 100px;}
  .our-case-study-feature.inner-page {padding: 115px 0 0;}
  .case-details {padding: 115px 0;}
  .case-details .text-wrapper .row ul {padding-top: 25px;}
  .case-details .text-wrapper .sub-text {font-size: 20px;padding-bottom: 45px;}
  .case-details .text-wrapper .row p {padding-right: 0;}
  .contact-page .contact-form {margin-bottom: 40px;}
  .contact-page .google-map {height: 400px;}
  .contact-page .quick-find-block {margin: 40px 0;}
}
/*(max-width: 991px)*/

@media (min-width: 768px) and (max-width: 991px) {
  #theme-banner .main-text-wrapper,#theme-banner.theme-banner-two .main-text-wrapper {padding: 225px 0 130px;}
  .theme-inner-banner {padding-top: 200px;}
  .case-details .case-pagination ul li a {width: 250px;}
  .blog-details-post .author-text {padding-right: 25px;}
}
/*(min-width: 768px) and (max-width: 991px)*/

@media (max-width: 767px) {
  .our-services .service-block {padding-left: 20px;padding-right: 15px;}
  .our-services .service-block .icon-box {margin-left: 0;}
  .section-title h2 br {display: none;}
  .footer-form-wrapper form input {padding: 0 15px; height: 60px;}
  .footer-form-wrapper form {height: auto;}
  .footer-form-wrapper form button {
    position: relative;
    width: 250px;
    margin: 15px auto 0;
    line-height: 60px;
    display: block;
  }
  #theme-banner .main-text-wrapper h1 {font-size: 46px;line-height: 50px; font-weight: 700;}
  #theme-banner .main-text-wrapper,#theme-banner.theme-banner-two .main-text-wrapper {padding: 200px 0 40px;}
  #theme-banner .main-text-wrapper p,#theme-banner.theme-banner-two .main-text-wrapper p {font-size: 20px;line-height: 32px; padding: 35px 0 45px;}
  .theme-main-menu .right-widget .button-group a {padding: 0 10px; font-size: 16px;}
  .theme-main-menu .right-widget .language-switcher button {font-size: 16px;}
  .theme-banner-two .video-button {margin: 15px 0 0 0;}
  .theme-inner-banner .inner-wrapper .title {font-size: 40px;line-height: 50px;padding-bottom: 105px;}
  .theme-inner-banner .inner-wrapper .title br {display: none;}
  .theme-inner-banner {padding-top: 150px;}
  .theme-inner-banner .site-button i {display: none;}
  .theme-inner-banner .site-button {width: auto;padding: 15px 15px; font-size: 16px;}
  .theme-inner-banner .inner-wrapper {padding-bottom: 55px;}
  .our-case-study-feature .mixitUp-menu li {font-size: 18px;line-height: 32px;margin: 2px 5px;}
  .case-details .two-column-img {padding: 40px 0;}
  .case-details .text-wrapper .case-title {font-size: 45px;}
  .blog-details-post .author-text {padding: 40px 15px; text-align: center;}
  .blog-details-post .author-text img {float: none;margin: 0 auto;}
  .blog-details-post .author-text .text {float: none;width: 100%;padding: 25px 0 0;}
  .blog-details-post .user-comment-area .user-comment {padding: 25px 15px;}
  .blog-details-post .user-comment-area {padding: 60px 0 50px;}
  .blog-details-post .comment-form form input {margin-bottom: 30px;}
}
/*(max-width: 767px)*/


@media (min-width: 576px) and (max-width: 767px) {
  .case-details .case-pagination ul li a {width: 200px;}
}
/*(min-width: 576px) and (max-width: 767px)*/


@media (max-width: 575px) {
  body .theme-button-two {padding: 12px; padding-top: 0px; padding-bottom: 0px; font-size: 16px;}
  .section-title .section-inner-button {width: 260px;}
  .theme-main-menu .right-widget .button-group,.theme-inner-banner .site-button {display: none;}
  #searchWrapper form button {width: 50px;font-size: 20px;}
  .theme-main-menu .right-widget .language-switcher button {padding-left: 15px;}
  .agency-feature .video-demo {padding: 30px 15px;}
  .agency-feature .video-demo h2 {font-size: 35px;line-height: 45px;padding-bottom: 45px;}
  .error-page .home-button {width: 90%;}
  .case-details .case-pagination ul li.prev,.case-details .case-pagination ul li.next {float: none;}
  .case-details .case-pagination ul li a {width: 100%;margin-bottom: 10px;}
  .case-details .text-wrapper .social-icon li {padding: 0 15px;}
  .blog-details-post .blog-details-data .mark-text {padding: 55px 10px 30px 20px;}
  .blog-details-post .right-widget {float: left;width: 100%;}
  .blog-details-post .right-widget li {margin: 15px 10px 0 0;}
  .blog-details-post .blog-pagination ul li {width: 100%;margin-bottom: 10px;}
  .blog-details-post .blog-pagination ul li a {width: 100%;font-size: 16px;line-height: 50px;}
  .blog-details-post .user-comment-area .user-comment img {float: none;margin: 0 auto;}
  .blog-details-post .user-comment-area .user-comment .text {float: none;width: 100%;padding: 0;margin-top: 20px;}
  .blog-details-post .user-comment-area .user-comment.user-reply {margin-left: 15px;}
  .contact-page .contact-form {padding: 60px 15px;}
  .contact-page .social-icon ul li a {width: 40px;line-height: 40px;font-size: 18px;margin: 4px 5px;}
  .contact-page .social-icon {padding-top: 20px;}
  .theme-main-menu .menu-style-one:before {display: none;}
}
/*(max-width: 575px)*/


@media (max-width: 650px) {
  #success, #error {
    width: 84%;
    height: auto;
    top: calc(50% - 50px);
    left: 8%;
    padding: 30px 10px;
    margin:0;
  }
}
@media (max-width: 450px) {
  .pricing-section .nav-tabs .nav-link {width: 125px;}
  .pricing-section .tab-content .price-table-wrapper .more-button {
    width: auto;
    line-height: 80px;
    top:auto;
    bottom: 0;
    left:15px;
    right: 15px;
  }
  .pricing-section .tab-content .price-table-wrapper .inner-wrapper {padding-bottom: 100px;padding-left: 15px;}
}
