/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   01 - Loading Transition  */
/*   02 - Click To Top  */
/*   03 - Global Settings */
/*   04 - Theme Menu */
/*   05 - Theme Banner One */
/*   06 - Banner Two */
/*   07 - Our Services   */
/*   08 - Client Section  */
/*   09 - Our Case  */
/*   10 - Pricing Section  */
/*   11 - Blog grid Style  */
/*   12 - Footer  */
/*   13 - Agency Feature  */
/*   14 - Theme Inner Banner  */
/*   15 - Our Team  */
/*   16 - Case Details  */
/*   17 - Theme Sidebar */
/*   18 - Blog List */
/*   19 - Blog Details */
/*   20 - Faq Section */
/*   21 - Error Page */
/*   22 - Contact Page */



/**
* Importing necessary  Styles.
**/
/*--------- Fonts ----------*/
@import url('../fonts/montserrat/montserrat.css');
/*----bootstrap css ----- */
@import url('../vendor/bootstrap/css/bootstrap.min.css');
/*------- menu ------*/
@import url('../vendor/menu/dist/css/slimmenu.css');
/*-------- AOS css ------*/
@import url('../vendor/aos-next/dist/aos.css');
/*----font awesome -------*/
@import url('../fonts/font-awesome/css/font-awesome.min.css');
/*----owl-carousel css----*/
@import url('../vendor/owl-carousel/owl.carousel.css');
@import url('../vendor/owl-carousel/owl.theme.css');
/*--------- flat-icon ---------*/
@import url('../fonts/icon/font/flaticon.css');
/*------------- Map -------------*/
@import url('../vendor/sanzzy-map/dist/snazzy-info-window.min.css');
/*----------- Fancybox css -------*/
@import url('../vendor/fancybox/dist/jquery.fancybox.min.css');
/*---------------- Custom Animation -------------*/
@import url('custom-animation.css');
/*** 

====================================================================
  Loading Transition
====================================================================

 ***/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #fff;
  overflow: hidden;
}
#loader {
  background: url(../images/1.gif);
  width: 200px;
  height: 200px;
  position: relative;
  top: 50%;
  margin: -32px auto 0 auto;
}
/*** 

====================================================================
  Click To Top
====================================================================

 ***/
 html {
   scroll-behavior: smooth;
 }
.scroll-top {
  width:28px;
  height:28px;
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 9999;
  text-align: center;
  color:#fff;
  font-size: 16px;
  display: none;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}
/*** 

====================================================================
  Global Settings
====================================================================

 ***/

@font-face {
  font-family: 'font-awesome';
  src: url('../fonts/font-awesome/fonts/fontawesome-webfont.ttf');
  src: url('../fonts/font-awesome/fonts/fontawesome-webfont.eot'), /* IE9 Compat Modes */
       url('../fonts/font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/font-awesome/fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/font-awesome/fonts/fontawesome-webfont.svg') format('svg'); /* Legacy iOS */
}
::-webkit-scrollbar{ width: 8px; }
::-webkit-scrollbar-track { background: #f4f4f4;}
::-webkit-scrollbar-thumb { background: #10502a;border-radius: 10px; }
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color:rgba(45,54,77,0.9);
  font-size: 18px;
  position: relative;
}
.main-page-wrapper {overflow-x:hidden;}
h1,h2,h3,h4,h5,h6,p,ul { margin:0;padding: 0;}
h1,h2,h3,h4,h5,h6,
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#2d364d;}
h1 {font-size: 68px; line-height: 80px; font-weight: 800;}
h2 {font-size: 52px;}
h3 {font-size: 30px; font-weight: 600;}
h4 {font-size: 26px; font-weight: 700;}
h5 {font-size: 22px; font-weight: 600;}
h6 {font-size: 20px;}
p {line-height: 28px;}
ul {list-style-type: none;}
a {text-decoration: none; display: inline-block;}
a:hover,a:focus,a:visited {text-decoration: none; outline: none;}
img {max-width: 100%; display: block;}
button {border:none;outline: none;box-shadow: none;display: block; padding: 0;cursor: pointer;}
button:focus {outline: none;}
input,textarea {outline: none; -webkit-box-shadow: none; box-shadow: none;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.section-spacing {padding-top: 130px;}
/*----------------------- Transition -----------------*/
.tran3s,h2 a,h3 a,h4 a,h5 a,h6 a,#mega-menu-holder>ul> li> a:before,#searchWrapper,.theme-main-menu .right-widget .button-group a,body .theme-button,
.our-services .service-block,.section-title .section-inner-button,.our-case-study-feature .single-case-feature .overlay,.nav-tabs .nav-link,
.pricing-section .tab-content .price-table-wrapper .more-button,.blog-grid-style .single-news-block .read-more i,.theme-footer .footer-main-widget .footer-logo ul li a,
.theme-footer .footer-main-widget .footer-list ul li a,.theme-banner-two .video-button,.our-team .single-member,.theme-inner-banner ul li a,
.our-case .single-case-block .text .more-button,.our-case-study-feature .mixitUp-menu li,.case-details .text-wrapper .social-icon li a,.case-details .case-pagination ul li a,
.theme-sidebar .sidebar-categories ul li a,.theme-sidebar .sidebar-tags ul li a,.theme-sidebar .sidebar-recent-post ul li,.theme-sidebar .sidebar-recent-post ul li a,
.blog-list-style .single-blog-post .text-meta .read-more,.theme-pagination ul li a,.blog-details-post .share-option ul li a,.blog-details-post .blog-pagination ul li a,
.blog-details-post .user-comment-area .user-comment .text .reply-form button,.error-page .home-button,.contact-page .additional-block .read-more,.contact-page .social-icon ul li a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tran4s,.img-box img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/*--------------- Theme Title ------------*/
.section-title {position: relative;}
.section-title h2 {
  font-size: 52px;
  line-height: 62px;
  font-weight: 700;
}
.section-title p {padding: 20px 200px 0 0;font-size: 17px;}
.section-title .section-inner-button {
  width: 280px;
  text-align: center;
  padding: 55px 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #fff;
  background: #1f9a4f;
  position: absolute;
  top:16px;
  left:0;
  box-shadow: 0px 30px 34px 0px rgba(186, 185, 185, 0.35);
}
.section-title .section-inner-button:hover {color: #fff;}
.section-title.button-style p {
  padding: 85px 120px 0 0;
  font-size: 22px;
  line-height: 38px;
}

/*---------------- Theme Button --------------*/
body .theme-button {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  line-height: 60px;
  border-radius: 10px;
  padding: 0 50px;
  position: relative;
  z-index: 9;
  letter-spacing: 1px;
}
body .theme-button-two {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  line-height: 116px;
  padding: 0 60px;
  position: relative;
  z-index: 9;
  letter-spacing: 1.5px;
}
body .theme-button-two:before {border-radius: 0;}
body .theme-button-two i {font-size: 20px; margin-left: 13px;}
/*---------------- Theme Pagination --------------*/
.theme-pagination {padding-top: 30px;}
.theme-pagination ul {margin: 0 -5px; display: inline-block;}
.theme-pagination ul li {float: left;padding: 0 5px;}
.theme-pagination ul li a {
  font-size: 15px;
  font-weight: 600;
  line-height: 43px;
  padding: 0 15px;
  color: #555555;
  border:1px solid #efefef;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
}
.theme-pagination ul li a:hover,.theme-pagination ul li.active a {color: #fff;}
/*--------------------- Color File ----------------------*/
.scroll-top,.theme-main-menu .menu-wrapper .logo.bg-color,#mega-menu-holder>ul> li> a:before,#searchWrapper form button,#searchWrapper #close-button:before,
#searchWrapper #close-button:after,.theme-main-menu .menu-style-one:before,.theme-main-menu .right-widget .button-group .button-one:hover,body .theme-button,
.about-us .bottom-text:after,body .theme-button-two, .pricing-section .tab-content .price-table-wrapper:hover .more-button,
.pricing-section .tab-content .price-table-wrapper .more-button.active,.footer-form-wrapper form button,.theme-footer .footer-main-widget .footer-logo ul li a:hover,
.theme-main-menu .right-widget .button-group .button-two:hover,.agency-feature .video-demo,.theme-inner-banner .site-button,.our-case .single-case-block .text .more-button,
.our-case-study-feature .mixitUp-menu li.active,.case-details .case-pagination ul li a:hover,.theme-sidebar .sidebar-newsletter form button,.theme-sidebar .sidebar-tags ul li a:hover,
.blog-list-style .single-blog-post .text-meta .read-more:hover,.theme-pagination ul li a:hover,.theme-pagination ul li.active a,.blog-details-post .share-option .share-icon li a,
.blog-details-post .blog-pagination ul li a:hover,.error-page .home-button:hover,.contact-page .contact-form button,.contact-page .additional-block .read-more:hover,
.contact-page .social-icon ul li a:hover,.collapse-button .icon-bar {
  background: #1f9a4f;
}
 .section-title .section-inner-button:hover {
   background: #b1381f;
 }
#mega-menu-holder ul.dropdown li a:hover,.theme-main-menu .right-widget .language-switcher button,.theme-main-menu .right-widget .button-group .button-one,
.our-services .service-block .title:hover a,.section-title h2 span,#client-slider .carousel-item .post,#client-slider .carousel-control-next,
#client-slider .carousel-control-prev,.blog-grid-style .single-news-block .date,.blog-grid-style .single-news-block:hover .read-more i,
.blog-grid-style .single-news-block:hover .title a,.theme-footer .footer-main-widget .footer-list ul li a:hover,.theme-banner-two .video-button:hover,
.agency-feature .call-action a,.theme-inner-banner ul li a:hover,.case-details .text-wrapper .social-icon li a:hover,.case-details .case-pagination ul li a,
.theme-sidebar .sidebar-categories ul li.active a,.theme-sidebar .sidebar-categories ul li:hover a,.theme-sidebar .sidebar-recent-post ul li:hover a,
.blog-list-style .single-blog-post:hover .text-meta .title a,.blog-details-post .blog-details-data .date span,.blog-details-post .user-comment-area .user-comment .text .reply-form button:hover,
.error-page .home-button,.contact-page .quick-find-block .block-title {
  color: #1f9a4f;
}
.theme-footer .footer-main-widget .footer-logo ul li a:hover,.theme-sidebar .sidebar-tags ul li a:hover,
.theme-pagination ul li a:hover,.theme-pagination ul li.active a {border-color: #1f9a4f; }
/* ----------------------- Theme Top Section -----------------*/
.theme-top-section,#theme-banner,#theme-banner .main-text-wrapper {position: relative;z-index: 5;}
/* -------------------------- Logo --------------------------*/
 .logo {
   width: 250px;
   max-width: 20%;
   background-color: transparent !important;
   content: url(../images/logo/logo.svg);
 }
/*-------------------------- Theme Menu ---------------------*/
.theme-main-menu {max-width: 1920px;margin: 0 auto;position: relative;}
.theme-main-menu .menu-wrapper {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  z-index: 99;
}

.theme-main-menu .menu-wrapper .logo {
  float: left;
  padding: 5px 4%;
  position: relative;
  z-index: 5;
  background-color: #fff;
  background-color: #fff;
}
.theme-main-menu .menu-wrapper .logo:before {
  content: url(../images/shape/2.png);
  position: absolute;
  top:-2px;
  right: 0;
  z-index: -1;
}
.theme-main-menu .menu-list-wrapper {float: left; padding: 68px 0 0 5%;}
.theme-main-menu .right-widget {float: right;padding:53px 6% 0 0;position: relative;z-index: 5;}
.theme-main-menu .right-widget>li {display: inline-block;vertical-align: middle;}
.theme-main-menu .right-widget .language-switcher button {
  background: #fff;
  font-size: 18px;
  font-weight: 600;
  height: 55px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0 35px 0 25px;
  box-shadow: 0px 0px 15px 0px rgba(214, 214, 214, 0.35);
  position: relative;
}
.theme-main-menu .right-widget .language-switcher .dropdown-toggle:after {display: none;}
.theme-main-menu .right-widget .language-switcher .dropdown-toggle:before {
  content: '';
  font-family: 'font-awesome';
  display: block;
  position: absolute;
  top:0;
  line-height: 55px;
  right: 17px;
  border: none;
  margin: 0;
}
.theme-main-menu .right-widget .language-switcher .dropdown-menu {
  background:#fff;
  border: none;
  padding: 0;
  box-shadow: 0px 0px 22.5px 7.5px rgba(216, 225, 229, 0.3);
}
.theme-main-menu .right-widget .search-button button {
  background: transparent;
  height: 55px;
  width: 50px;
  color: #454c5e;
  font-size: 28px;
  margin: 0 12px 0 25px;
}
#searchWrapper {
  position: fixed;
  top:0;
  right: 0;
  left:0;
  background: #fff;
  padding: 30px 0;
  box-shadow: 0px 0px 15px 0px rgba(214, 214, 214, 0.35);
  height: 150px;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transform: scale(1, 0);
}
#searchWrapper.show-box {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
#searchWrapper form,#searchWrapper .container {
  position: relative;
  height: 100%;
}
#searchWrapper form {width: 90%;margin:0 auto;}
#searchWrapper form .input-wrapper {height: 100%; position: relative;}
#searchWrapper form input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0 100px 0 40px;
  border-radius: 5px;
  background: transparent;
  box-shadow: 0px 0px 22.5px 7.5px rgba(216, 225, 229, 0.3);
}
#searchWrapper form button {
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  font-size: 22px;
  color: #fff;
  width: 100px;
  border-radius: 0 5px 5px 0;
}
#searchWrapper #close-button {
  position: absolute;
  top:10px;
  right: 10px;
  width: 25px;
  height: 25px;
  font-size: 35px;
  background: transparent;
  color: #fff;
  cursor: pointer;
  z-index: 5;
}
#searchWrapper #close-button:before,
#searchWrapper #close-button:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  left:12px;
}
#searchWrapper #close-button:before {
  -webkit-transform:rotate(45deg);
          transform:rotate(45deg);
}
#searchWrapper #close-button:after {
  -webkit-transform:rotate(-45deg);
          transform:rotate(-45deg);
}
.theme-main-menu .right-widget .button-group a {
  line-height: 55px;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 32px;
}
.theme-main-menu .right-widget .button-group .button-one {
  background: #fff;
  box-shadow: 0px 13px 20px 0px rgba(186, 185, 185, 0.25);
}
.theme-main-menu .right-widget .button-group .button-one:hover,
.theme-main-menu .right-widget .button-group .button-two:hover {color: #fff;}
.theme-main-menu .right-widget .button-group .button-two {color: #2d364d;margin-left:5px;}
/*----------------------- Theme Banner One -------------------------*/
#theme-banner .main-text-wrapper {padding: 345px 0 200px;}
.theme-banner-one .main-text-wrapper h1 {text-transform: uppercase;}
#theme-banner .main-text-wrapper p {
  font-size: 25px;
  line-height: 36px;
  padding: 40px 0 100px;
}
#theme-banner .main-text-wrapper .button-one {box-shadow: 0px 13px 25px 0px rgba(254, 190, 113, 0.25);}

.theme-banner-one .shape-one {
  position: absolute;
  top:0;
  right: 0;
}
.theme-banner-one .shape-two {
  position: absolute;
  left: 1%;
  bottom:26%;
  animation: rotated 20s ease-in-out alternate infinite;
}
.theme-banner-one .shape-three {
  position: absolute;
  right: 0;
  bottom:-4%;
  z-index: 1;
}
.theme-banner-one .shape-four {
  position: absolute;
  right: 24%;
  bottom:52%;
  z-index: 1;
  animation: jump 20s ease-in-out alternate infinite;
}
.theme-banner-one .round-shape-one {
  border-radius: 10px;
  box-shadow: 0px 16px 30px 0px rgba(181, 179, 185, 0.35);
  position: absolute;
  left: 14%;
  top: 27%;
  width: 27px;
  height: 26px;
  z-index: 1;
  animation: scale-up 4s ease-in-out alternate infinite;
}
.theme-banner-one .round-shape-two {
  border-radius: 50%;
  background: linear-gradient( 122deg, rgb(210,230,250) 0%, rgb(208,240,235) 100%);
  box-shadow: 0px 13px 35px 0px rgba(171, 172, 172, 0.35);
  position: absolute;
  left: 45%;
  bottom: 10%;
  width: 103px;
  height: 103px;
  z-index: 1;
  animation: jump 4s ease-in-out alternate infinite;
}
.theme-banner-one .round-shape-three {
  border-radius: 50%;
  background: linear-gradient( 122deg, rgb(210,230,250) 0%, rgb(208,240,235) 100%);
  opacity: 0.502;
  box-shadow: 0px 24px 30px 0px rgba(181, 179, 185, 0.35);
  position: absolute;
  left: 45%;
  top: -130px;
  width: 170px;
  height: 170px;
  z-index: 1;
  animation: scale-right 8s ease-in-out alternate infinite;
}
.theme-banner-one .svg-shape-one {
  position: absolute;
  right: 3%;
  bottom: 5%;
  z-index: 1;
  width: 31%;
}


/*------------ Banner Two ----------------*/
#theme-banner.theme-banner-two .main-text-wrapper {padding-top: 410px;}
#theme-banner.theme-banner-two .main-text-wrapper p {padding-bottom: 125px;}
.theme-banner-two .video-button {
  text-transform: uppercase;
  color: #595e6e;
  line-height: 60px;
  margin-left: 30px;
  letter-spacing: 1.5px;
}
.theme-banner-two .video-button i {
  font-size: 22px;
  color: #d0efed;
  margin-right: 5px;
}
.theme-banner-two .img-shape-one {
  position: absolute;
  right: 0;
  top:24%;
  z-index: -1;
}
.theme-banner-two .round-shape-one {
  border-radius: 50%;
  background: linear-gradient( 122deg, rgb(210,230,250) 0%, rgb(208,240,235) 100%);
  opacity: 0.502;
  box-shadow: 0px 24px 30px 0px rgba(181, 179, 185, 0.35);
  position: absolute;
  left: 15%;
  top: -130px;
  width: 170px;
  height: 170px;
  z-index: 1;
  animation: scale-right 8s ease-in-out alternate infinite;
}
.theme-banner-two .round-shape-two {
  border-radius: 50%;
  background: linear-gradient( 122deg, rgb(234,245,255) 0%, rgb(243,251,251) 100%);
  box-shadow: 0px 13px 35px 0px rgba(171, 172, 172, 0.35);
  position: absolute;
  left: 2%;
  bottom: 30%;
  width: 103px;
  height: 103px;
  z-index: 1;
  animation: jump 4s ease-in-out alternate infinite;
}
.theme-banner-two .round-shape-three {
  border-radius: 10px;
  background: linear-gradient( 106deg, rgb(112,173,255) 0%, rgb(121,242,207) 100%);
  box-shadow: 0px 16px 30px 0px rgba(181, 179, 185, 0.35);
  position: absolute;
  right: 14%;
  bottom: 21%;
  width: 27px;
  height: 26px;
  z-index: 1;
  animation: scale-up 4s ease-in-out alternate infinite;
}
.theme-banner-two .shape-four {
  position: absolute;
  right: 3%;
  bottom:10%;
  z-index: -1;
  animation: jump 20s ease-in-out alternate infinite;
}
.theme-banner-two .shape-five {
  position: absolute;
  left: 19%;
  top:24%;
  z-index: -1;
}
.theme-banner-two .shape-six {
  position: absolute;
  left: 40%;
  top:25%;
  z-index: -1;
}
.theme-banner-two .shape-seven {
  position: absolute;
  right: 45%;
  top:30%;
  z-index: -1;
}
/*------------------- About Us -------------------*/
.about-us {position: relative;padding: 210px 0 0;margin-bottom: 240px;}
.about-us.space-fix {margin-bottom: 150px;}
.about-us .text {position: relative;}
.about-us .section-title {padding-bottom: 20px;}
.about-us p {margin-top: 42px;}
.about-us .bottom-text {
  position: relative;
  padding-left: 80px;
  margin-top: 95px;
}
.about-us .bottom-text:before {
  content: '';
  width: 46px;
  height: 40px;
  border: 1px solid #1f9a4f;
  position: absolute;
  top:-3px;
  left: 0;
}
.about-us .bottom-text:after {
  content: '';
  width: 37px;
  height: 1px;
  position: absolute;
  top:16px;
  left:27px;
}
.about-us .shape-one {
  position: absolute;
  bottom: 6%;
  left:0;
  z-index: -1;
  width: 35%;
}
.about-us .shape-two {
  position: absolute;
  bottom: 10px;
  left:0;
  z-index: 1;
  width: 41%;
}
.about-us .shape-three {
  position: absolute;
  left: 37%;
  top:19%;
  z-index: -1;
  animation: jump 4s ease-in-out alternate infinite;
}
.about-us .shape-four {
  position: absolute;
  left: 51%;
  top:13%;
  z-index: -1;
}
.about-us .shape-five {
  position: absolute;
  right: 7%;
  top:13%;
  z-index: -1;
  animation: jump 5s ease-in-out alternate infinite;
}
.about-us .shape-six {
  border-radius: 50%;
  background: linear-gradient( 122deg, rgb(210,230,250) 0%, rgb(208,240,235) 100%);
  box-shadow: 0px 24px 30px 0px rgba(181, 179, 185, 0.35);
  position: absolute;
  right: 7%;
  top: 55%;
  width: 56px;
  height: 56px;
  z-index: -1;
  animation: scale-up 15s ease-in-out alternate infinite;
}
.about-us .theme-button-two {
  position: absolute;
  bottom: -17px;
  left: -400px;
  box-shadow: 0px 30px 34px 0px rgba(186, 185, 185, 0.35);
}
.about-us.style-two {max-width: 1920px;margin-left: auto;margin-right: auto;}
.about-us.style-two .single-block {position: relative; margin-bottom: 275px;}
.about-us.style-two .single-block .block-shape {
  position: absolute;
  z-index: -1;
  width: 41%;
  top:-55px;
}
.about-us.style-two .single-block .block-shape-one {left:50px;}
.about-us.style-two .single-block .block-shape-two {right:50px;}
.about-us.style-two .single-block:last-child {margin: 0;}
/*----------------------- Our Services --------------------*/
.our-services {position: relative;margin-bottom: 220px;}
.our-services.space-fix {margin: 250px 0 150px;}
.our-services .shape-one {
  border-radius: 10px;
  background: linear-gradient( 106deg, rgb(118,252,241) 0%, rgb(183,234,240) 100%);
  opacity: 0.4;
  box-shadow: 0px 16px 30px 0px rgba(181, 179, 185, 0.35);
  position: absolute;
  width: 27px;
  height: 27px;
  top:3%;
  right: 21%;
  z-index: -1;
  animation: jump 5s ease-in-out alternate infinite;
}
.our-services .shape-two {
  position: absolute;
  top:-5%;
  right: 5%;
  z-index: -1;
}
.our-services .section-title {padding-bottom: 110px;}
.our-services .service-block {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px 0px rgba(208, 208, 208, 0.35);
  padding: 52px 63px 65px 77px;
  margin-bottom: 30px;
}
.our-services .service-block .icon-box {
  width: 81px;
  height: 81px;
  position: relative;
  text-align: center;
  margin-left: -14px;
}
.our-services .service-block .icon-box i {
  position: absolute;
  width: 100%;
  line-height: 66px;
  color: #fff;
  font-size: 25px;
  top:0;
  right: 0;
  z-index: 1;
}
.our-services .service-block .title {margin: 25px 0 32px;}
.our-services .service-block p {font-size: 17px;color: rgba(99,113,131,0.8);}
.our-services .service-block:hover {box-shadow: 0px 0px 30px 0px rgba(246, 204, 153, 0.35);}
.our-services.center-text .service-block {text-align: center;}
.our-services.center-text .service-block .icon-box {margin: 0;width: auto;height: auto;}
.our-services.center-text .service-block .icon-box img {margin: 0 auto;}
.our-services.center-text .service-block {padding-left: 60px;padding-right: 60px;}
.our-services .bottom-banner {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 35px 0px rgba(190, 195, 209, 0.35);
  margin-top: 45px;
  padding: 68px 290px 60px 65px;
  position: relative;
}
.our-services .bottom-banner h3 {color: #4a535f;line-height: 42px;}
.our-services .bottom-banner .theme-button-two {
  position: absolute;
  top:50%;
  right: -175px;
  transform: translateY(-50%);
}
/*---------------------- Client Section ------------------*/
.client-section {position: relative;padding-bottom: 185px;}
.client-section .shape-one {
  position: absolute;
  left: 0;
  top:17%;
  z-index: -1;
}
.client-section .shape-two {
  position: absolute;
  left: 0;
  top:-27%;
  z-index: -1;
}
.client-section .text-wrapper {padding-top: 160px;}
#client-slider .section-title {padding-bottom: 58px;}
#client-slider .carousel-item p {
  font-size: 22px;
  line-height: 38px;
}
#client-slider .carousel-item .name {padding: 65px 0 10px;}
#client-slider .carousel-control-next,
#client-slider .carousel-control-prev {
  position: relative;
  bottom: 0;
  display: inline-block;
  vertical-align: middle;
  opacity: 1;
  width: auto;
  text-align: center;
  margin: 60px 35px 0 0;
  font-size: 45px;
}
.client-section .right-content {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top:0;
}
.client-section .right-content .main-img {float: right;margin-right: 15px;}
.client-section .right-content .main-shape {
  position: absolute;
  top:23%;
  right: 15px;
  z-index: 1;
}
.client-section .right-content .carousel-indicators {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 5;
}
.client-section .right-content .carousel-indicators li {
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 27px 30px 0px rgba(83, 83, 83, 0.35);
  width: 92px;
  height: 92px;
  cursor: pointer;
}
.client-section .right-content .carousel-indicators li img {width: 100%;}
.client-section .right-content .carousel-indicators li:nth-child(1) {
  top:37%;
  left: 0;
  animation: jump 4s ease-in-out alternate infinite;
  animation-delay: 0.3s;
}
.client-section .right-content .carousel-indicators li:nth-child(2) {
  top:37%;
  left: 34%;
  animation: jump 4s ease-in-out alternate infinite;
  animation-delay: 0.5s;
}
.client-section .right-content .carousel-indicators li:nth-child(3) {
  top:63%;
  left:22%;
  animation: jump 4s ease-in-out alternate infinite;
  animation-delay: 0.7s;
}
.client-section .right-content .carousel-indicators li:nth-child(4) {
  width:59px;
  height: 59px; 
  top:84%;
  left:41%;
  animation: jump 4s ease-in-out alternate infinite;
  animation-delay: 0.9s;
}
.client-section .right-content .carousel-indicators li:nth-child(5) {
  width:70px;
  height: 70px; 
  bottom:-8%;
  left:23%;
  animation: jump 4s ease-in-out alternate infinite;
  animation-delay: 1.1s;
}
/*------------------------- Our Case --------------------*/
.our-case-study-feature {position: relative;}
.our-case-study-feature.section-home {padding:270px 0 208px; }
.our-case-study-feature.inner-page {padding: 200px 0 150px;}
.our-case-study-feature.section-home .shape-one {
  position: absolute;
  top:-55px;
  left:0;
  z-index: -1;
}
.our-case-study-feature.section-home .shape-two {
  border-radius: 10px;
  background: linear-gradient( -180deg, rgb(209,178,251) 0%, rgb(255,255,255) 100%);
  opacity: 0.902;
  box-shadow: 0px 16px 30px 0px rgba(181, 179, 185, 0.35);
  position: absolute;
  left: 12%;
  top: 12%;
  width: 27px;
  height: 26px;
  animation: jump 4s ease-in-out alternate infinite;
}
.our-case-study-feature.section-home .shape-three {
  position: absolute;
  top:11%;
  right: 39%;
  z-index: -1;
  animation: scale-right  4s ease-in-out alternate infinite;
}
.our-case-study-feature .inner-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 90px;
  position: relative;
}
.our-case-study-feature .inner-wrapper:before {
  content: url(../images/shape/19.png);
  position: absolute;
  top:11%;
  left: 0;
  z-index: -1;
}
.our-case-study-feature .inner-wrapper:after {
  content: url(../images/shape/20.png);
  position: absolute;
  top:-52%;
  right: 0;
  z-index: -1;
}
.our-case-study-feature .inner-wrapper .single-case-feature {
  margin: 45px 0;
  box-shadow: 0px 0px 45px 0px rgba(189, 188, 188, 0.35);
}
.our-case-study-feature .single-case-feature {overflow: hidden;position: relative;}
.our-case-study-feature .single-case-feature img {width: 100%;}
.our-case-study-feature .single-case-feature .overlay {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rgba(0,0,0,0.65);
  opacity: 0;
}
.our-case-study-feature .single-case-feature .overlay .icon {
  color: #fff;
  position: absolute;
  right: 15px;
  font-size: 35px;
}
.our-case-study-feature .single-case-feature .overlay .details {top:10px;}
.our-case-study-feature .single-case-feature .overlay .zoom {bottom:10px;}
.our-case-study-feature .single-case-feature:hover .overlay {
  left:40px;
  bottom:40px;
  opacity: 1;
}
.our-case-study-feature .case-title {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}
.our-case-study-feature .mixitUp-menu {text-align: center;padding: 70px 0;}
.our-case-study-feature .mixitUp-menu li{
  display: inline-block;
  font-weight: 600;
  font-size: 21px;
  color: #537097;
  line-height: 50px;
  margin: 0 5px;
  padding: 0 24px;
  cursor: pointer;
}
.our-case-study-feature .mixitUp-menu li.active {color: #fff;}
#mixitUp-item .mix {display: none;}
/*------------------------- Pricing Section --------------------*/
.pricing-section {position: relative;padding: 65px 0 150px;}
.pricing-section .shape-one {
  position: absolute;
  top:0;
  left: 21%;
  z-index: -1;
}
.pricing-section .shape-two {
  position: absolute;
  top: -45px;
  right: 30%;
  z-index: -1;
}
.pricing-section .shape-three {
  position: absolute;
  top: 38%;
  left: 9%;
  z-index: -1;
}
.pricing-section .shape-four {
  position: absolute;
  top: 17%;
  right: 11%;
  z-index: -1;
}
.pricing-section .section-title p {
  font-size: 22px;
  line-height: 38px;
  padding: 12px 0 0 68px;
}
.pricing-section .nav-tabs {
  border: none;
  display: block !important;
  text-align: center;
  padding: 110px 0 72px;
}
.pricing-section .nav-tabs .nav-item {
  display: inline-block;
  margin: 0;
  padding: 0 5px;
}
.pricing-section .nav-tabs .nav-link {
  width: 170px;
  line-height: 65px;
  padding: 0;
  border-radius: 10px;
  font-weight: 600;
  font-size: 22px;
  color: #2d364d;
  background: rgb(255, 250, 247);
  box-shadow: 0px 16px 30px 0px rgba(181, 179, 185, 0.35);
  border: none;
}
.pricing-section .nav-tabs .nav-item.show .nav-link,
.pricing-section .nav-tabs .nav-link.active {
  color: #fff;
  background: #e16b66;
}
.pricing-section .tab-content {padding: 0 70px;}
.pricing-section .tab-content .row {margin: 0 -47px;}
.pricing-section .tab-content .row [class*="col-"] {padding: 0 47px;}
.pricing-section .tab-content .price-table-wrapper {
  position: relative;
  padding: 0 0 50px 30px;
}
.pricing-section .tab-content .price-table-wrapper .inner-wrapper {
  position: relative;
  background: #fff;
  box-shadow: 0px 16px 30px 0px rgba(181, 179, 185, 0.35);
  padding: 40px 20px 60px 50px;
}
.pricing-section .tab-content .price-table-wrapper .price {font-size: 18px;color: #242425;}
.pricing-section .tab-content .price-table-wrapper .price strong {
  font-size: 44px;
  font-weight: 600;
  color: #2d364d;
}
.pricing-section .tab-content .price-table-wrapper .title {color: #242425; padding: 10px 0 40px;}
.pricing-section .tab-content .price-table-wrapper ul li {
  line-height: 35px;
  font-size: 17px;
  position: relative;
  padding-left: 40px;
}
.pricing-section .tab-content .price-table-wrapper ul li:before {
  content: "";
  font-family: 'font-awesome';
  position: absolute;
  left: 0;
  top:0;
  color: #bfdef8;
}
.pricing-section .tab-content .price-table-wrapper .more-button {
  width: 135px;
  line-height: 300px;
  position: absolute;
  right: 0;
  top:0;
  color: #fff;
  font-size: 50px;
  box-shadow: 0px 16px 30px 0px rgba(181, 179, 185, 0.35);
  z-index: 1;
  background: #b1554b;
  text-align: center;
}
.pricing-section .tab-content .price-table-wrapper:before {
  content: '';
  position: absolute;
  left:0;
  bottom: 0;
  right: 65px;
  height: 275px;
  background-color: #f2f9ff;
  box-shadow: 0px 16px 30px 0px rgba(181, 179, 185, 0.35);
  z-index: -1;
}
/*----------------- Blog grid Style ----------------*/
.blog-grid-style {position: relative;}
.blog-grid-style.home-layout {padding: 186px 0 0;}
.blog-grid-style.home-layout:before {
  content: url(../images/shape/25.png);
  position: absolute;
  top:120px;
  right: 0;
  z-index: -1;
}
.blog-grid-style.home-layout .shape-one {
  position: absolute;
  top:-135px;
  left:0;
  z-index: -1;
}
.blog-grid-style.home-layout .shape-two {
  border-radius: 10px;
  background: linear-gradient( -180deg, rgb(209,178,251) 0%, rgb(255,255,255) 100%);
  opacity: 0.902;
  box-shadow: 0px 16px 30px 0px rgba(181, 179, 185, 0.35);
  position: absolute;
  left: 13%;
  top: 8%;
  width: 27px;
  height: 26px;
  animation: jump 4s ease-in-out alternate infinite;
}
.blog-grid-style.home-layout .shape-three {
  position: absolute;
  top:9%;
  right: 31%;
  z-index: -1;
  animation: scale-right  4s ease-in-out alternate infinite;
}
.blog-grid-style.home-layout .section-title {padding-bottom: 75px;}
.blog-grid-style.home-layout .single-news-block {margin: 30px 0 60px;}
.blog-grid-style .single-news-block {
  background: #fff;
  box-shadow: 0px 32px 57px 0px rgba(210, 210, 210, 0.35);
  margin-bottom: 30px;
  padding: 40px 34px 30px 25px;
}
.blog-grid-style .single-news-block .date {font-size: 40px; float: left;}
.blog-grid-style .single-news-block .date span {
  color: rgba(45,54,77,0.7);
  font-size: 18px;
  padding-left: 5px;
}
.blog-grid-style .single-news-block .action-list {float: right;padding-top: 18px;}
.blog-grid-style .single-news-block .action-list li {display: inline-block;font-size: 20px;}
.blog-grid-style .single-news-block .action-list li .comment {color: #d9edfd;margin-right: 33px;}
.blog-grid-style .single-news-block .action-list li .share {color: #eee3fd;}
.blog-grid-style .single-news-block .title {
  font-size: 21px;
  line-height: 32px;
  padding: 41px 0 23px;
}
.blog-grid-style .single-news-block p {font-size: 17px;padding-bottom: 34px;}
.blog-grid-style .single-news-block .read-more {
  font-size: 17px;
  color: rgba(45,54,77,0.9);
  display: block;
  padding-right: 25px;
}
.blog-grid-style .single-news-block .read-more i {
  float: right;
  color: #d9edfd;
  padding-top: 5px;
}
/*-------------------------- Footer ---------------------*/
.theme-footer {
  position: relative;
  padding: 170px 0 0;
  overflow: hidden;
}
.theme-footer .shape-one {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}
.theme-footer .shape-two {
  border-radius: 10px;
  background: linear-gradient( -180deg, rgb(209,178,251) 0%, rgb(255,255,255) 100%);
  opacity: 0.902;
  box-shadow: 0px 16px 30px 0px rgba(181, 179, 185, 0.35);
  position: absolute;
  right: 9%;
  top: 17%;
  width: 27px;
  height: 26px;
  animation: jump 4s ease-in-out alternate infinite;
}
.theme-footer .shape-three {
  position: absolute;
  bottom:28%;
  right: 10%;
  z-index: -1;
  animation: scale-right  4s ease-in-out alternate infinite;
}
.theme-footer .shape-four {
  position: absolute;
  top:6%;
  right: 27%;
  z-index: -1;
}
.footer-form-wrapper {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 35px 45px 0px rgba(208, 208, 208, 0.35);
  padding: 65px 150px;
}
.footer-form-wrapper form {height: 80px;position: relative;}
.footer-form-wrapper form input {
  width: 100%;
  height: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  font-size: 16px;
  padding: 0 300px 0 40px;
}
.footer-form-wrapper form button {
  position: absolute;
  width: 300px;
  top:0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
.theme-footer .footer-main-widget {padding: 160px 0 105px;}
.theme-footer .footer-main-widget .footer-logo {position: relative;}
.theme-footer .footer-main-widget .footer-logo:before{
  content: url(../images/shape/26.png);
  position: absolute;
  top: -74px;
  right: 214px;
  z-index: -1;
}
.theme-footer .footer-main-widget .footer-logo .location {
  position: relative;
  color: #4b4b4c;
  padding-left: 42px;
  margin: 50px 0 30px;
  font-size: 20px;
}
.theme-footer .footer-main-widget .footer-logo .location i {
  color: #dbeefc;
  position: absolute;
  left:0;
  top:0;
  font-size: 25px;
}
.theme-footer .footer-main-widget .footer-logo ul li {display: inline-block;margin-right: 8px;}
.theme-footer .footer-main-widget .footer-logo ul li a {
  width: 44px;
  height: 44px;
  border: 1px solid #dddddd;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  color: #ccccce;
}
.footer-logo {
  width: 2vw !important;
  background-color: transparent !important;
}
.theme-footer .footer-main-widget .footer-logo ul li a:hover {color: #fff;}
.theme-footer .footer-main-widget .footer-list .title {
  font-size: 20px;
  font-weight: 700;
  margin: -4px 0 40px 0;
}
.theme-footer .footer-main-widget .footer-list ul li a{
  line-height: 42px;
  color: #4b4b4c;
}
.theme-footer .footer-main-widget .footer-list .contact-list li {
  font-size: 17px;
  line-height: 28px;
  color: #4b4b4c;
  padding-bottom: 40px;
}
.theme-footer .footer-main-widget .footer-list .contact-list li:last-child {padding: 0;}
.theme-footer  .copyright {
  text-align: center;
  font-size: 16px;
  color: #2d364d;
  border-top: 1px solid #f3f3f3;
  padding: 30px 0;
}
/*------------------------ Agency Feature ---------------------*/
.agency-feature {position: relative;padding: 165px 0 105px;}
.agency-feature:before {
  content: url(../images/shape/32.png);
  position: absolute;
  top:-200px;
  left: 0;
  z-index: -1;
}
.agency-feature:after {
  content: url(../images/shape/33.png);
  position: absolute;
  bottom: 98px;
  right: 0;
  z-index: -1;
}
.agency-feature .shape-one {
  position: absolute;
  left: 20%;
  top: 2%;
  z-index: -1;
  animation: jump 4s ease-in-out alternate infinite;
}
.agency-feature .shape-two {
  position: absolute;
  left: 38%;
  top: 2%;
  z-index: -1;
}
.agency-feature .shape-three {
  position: absolute;
  left: 7%;
  bottom: 42%;
  z-index: -1;
  animation: jump 5s ease-in-out alternate infinite;
}
.agency-feature .shape-four {
  border-radius: 50%;
  background: linear-gradient( 122deg, rgb(210,230,250) 0%, rgb(208,240,235) 100%);
  box-shadow: 0px 24px 30px 0px rgba(181, 179, 185, 0.35);
  position: absolute;
  right: 12%;
  top: 35%;
  width: 56px;
  height: 56px;
  z-index: -1;
  animation: scale-up 15s ease-in-out alternate infinite;
}
.agency-feature .row {margin: 0 -35px;}
.agency-feature .row [class*="col-"] {padding: 0 35px;}
.agency-feature .section-title {padding-bottom: 88px;}
.agency-feature .section-title p {
  font-size: 22px;
  line-height: 38px;
  padding: 62px 300px 0 0;
}
.agency-feature .video-demo {
  text-align: center;
  padding: 60px 50px;
}
.agency-feature .video-demo h2 {
  color: #fff;
  font-size: 38px;
  line-height: 55px;
  font-weight: 600;
  padding-bottom: 67px;
}
.agency-feature .video-demo .play-button {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background: #fca030;
  color: #fff;
  font-size: 40px;
  line-height: 98px;
  position: relative;
}
.agency-feature .video-demo .play-button:before,
.agency-feature .video-demo .play-button:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.agency-feature .video-demo .play-button:before{
  top:-10px;
  right: -10px;
  bottom: -10px;
  left:-10px;
  border: 5px solid #fe9516;
  -webkit-animation: hvr-ripple-out 1.2s ease-in-out infinite;
  animation: hvr-ripple-out 1.2s ease-in-out infinite;
}
.agency-feature .video-demo .play-button:after{
  top:-20px;
  right: -20px;
  bottom: -20px;
  left:-20px;
  border: 5px solid #ff920e;
  -webkit-animation: hvr-ripple-out-two 1.2s ease-in-out infinite;
  animation: hvr-ripple-out-two 1.2s ease-in-out infinite;
}
.agency-feature .video-demo p {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 47px;
}
.agency-feature .single-feature {padding-top: 15px;}
.agency-feature .single-feature h4 {padding: 40px 0 30px;}
.agency-feature .single-feature p {font-size: 17px;}
.agency-feature .sub-heading {
  font-size: 38px;
  font-weight: 600;
  padding: 90px 0 28px;
}
.agency-feature .call-action {font-size: 28px;font-weight: normal;}
.agency-feature .call-action a {font-size: 32px;font-weight: 600;vertical-align: middle;}
/*------------------- Theme Inner Banner ------------------*/
.theme-inner-banner {
  position: relative;
  padding: 343px 0 0 0;
  background: #fff;
  box-shadow: 0px 20px 40px 0px rgba(216, 216, 216, 0.35);
  z-index: 9;
}
.theme-inner-banner .round-shape-one {
  border-radius: 10px;
  box-shadow: 0px 16px 30px 0px rgba(181, 179, 185, 0.35);
  position: absolute;
  left: 4%;
  top: 34%;
  width: 27px;
  height: 26px;
  z-index: -1;
  animation: scale-up 4s ease-in-out alternate infinite;
}
.theme-inner-banner .wave-one {
  position: absolute;
  bottom: 24%;
  left:3%;
  z-index: 1;
}
.theme-inner-banner .wave-two {
  position: absolute;
  bottom: 9%;
  left:38%;
  z-index: 1;
}
.theme-inner-banner .illustration {
  position: absolute;
  right: 7%;
  bottom: 4%;
  z-index: -1;
}
.theme-inner-banner .shape-one {
  position: absolute;
  right: 1%;
  bottom:8%;
  z-index: -1;
  animation: jump 20s ease-in-out alternate infinite;
}
.theme-inner-banner .shape-two {
  position: absolute;
  left: 19%;
  top:33%;
  z-index: -1;
}
.theme-inner-banner .shape-three {
  position: absolute;
  left: 40%;
  top:35%;
  z-index: -1;
}
.theme-inner-banner .shape-four {
  position: absolute;
  right: 45%;
  top:40%;
  z-index: -1;
}
.theme-inner-banner .inner-wrapper {
  position: relative;
  padding-bottom: 85px;
}
.theme-inner-banner .inner-wrapper .title {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  padding-bottom: 188px;
}
.theme-inner-banner ul li {
  display: inline-block;
  font-size: 21px;
  color: rgba(45,54,77,0.8);
  position: relative;
  margin-right: 5px;
  z-index: 5;
}
.theme-inner-banner ul li a {color: rgba(45,54,77,0.8);}
.theme-inner-banner ul li:first-child {padding-left: 35px;}
.theme-inner-banner ul li:first-child:before {
  content: '';
  border-radius: 50%;
  background: linear-gradient( 122deg, rgb(234,245,255) 0%, rgb(243,251,251) 100%);
  box-shadow: 0px 13px 35px 0px rgba(171, 172, 172, 0.35);
  position: absolute;
  left:0;
  top:-37px;
  width: 103px;
  height: 103px;
  z-index: -1;
}
.theme-inner-banner .site-button {
  width: 250px;
  text-align: center;
  color: #fff;
  padding-top: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: absolute;
  bottom: 0;
  right: 40px;
  z-index: 1;
}
.theme-inner-banner .site-button i {
  display: block;
  font-size: 50px;
  font-weight: normal;
  margin: -14px 0 -10px;
}
.theme-inner-banner .pager {
  font-family: 'Dancing Script', cursive;
  font-size: 85px;
  color: #2d364d;
  position: absolute;
  bottom: 10px;
  right: 0;
  z-index: 9;
}
/*---------------------- Our Team --------------------*/
.our-team {margin-bottom: 100px;}
.our-team.space-fix {margin-top: 70px;margin-bottom: 0;}
.our-team.inner-team-page {margin-top: 200px;}
.our-team .single-member {
  background: #fff;
  padding: 35px 0 40px;
  text-align: center;
  margin-bottom: 80px;
}
.our-team .single-member.active,
.our-team .single-member:hover {box-shadow: 0px 30px 40px 0px rgba(216, 216, 255, 0.35);}
.our-team .single-member img {
  margin: 0 auto;
  width: 168px;
  height: 168px;
  border-radius: 50%;
}
.our-team .single-member .name {
  font-size: 24px;
  font-weight: 600;
  padding: 63px 0 13px;
}
.our-team .single-member p {font-size: 15px;text-transform: uppercase;}
/*-------------------- Our Case ------------------*/
.our-case {padding: 150px 0 0;}
.our-case .single-case-block {padding-bottom: 135px;}
.our-case .single-case-block .text .title {
  font-size: 40px;
  padding: 55px 0 40px;
  font-weight: 700;
}
.our-case .single-case-block .text p {padding-bottom: 30px;}
.our-case .single-case-block .text .more-button {
  width: 250px;
  text-align: center;
  color: #fff;
  padding-top: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  float: right;
  margin-top: 38px;
}
.our-case .single-case-block .text .more-button i {
  display: block;
  font-size: 50px;
  font-weight: normal;
  margin: -14px 0 -10px;
}
/*---------------------- Case Details ---------------------*/
.case-details {padding: 250px 0 180px; position: relative;}
.case-details .shape-one {
  position: absolute;
  left: 0;
  bottom: 11%;
  z-index: -1;
}
.case-details .shape-two {
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: -1;
  animation: jump 5s ease-in-out alternate infinite;
}
.case-details .shape-three {
  border-radius: 50%;
  background: linear-gradient( 122deg, rgb(210,230,250) 0%, rgb(208,240,235) 100%);
  box-shadow: 0px 24px 30px 0px rgba(181, 179, 185, 0.35);
  position: absolute;
  right: 7%;
  top: 23%;
  width: 56px;
  height: 56px;
  z-index: -1;
  animation: scale-up 15s ease-in-out alternate infinite;
}
.case-details .shape-four {
  position: absolute;
  left: 6%;
  bottom: 10%;
  z-index: -1;
}
.owl-theme .owl-nav {margin: 0;}
.case-details .case-details-slider .owl-nav [class*=owl-] {
  font-family: 'font-awesome';
  width: 70px;
  height: 70px;
  border:2px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 66px;
  font-size: 22px;
  color: #fff;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 9;
  bottom: 15px;
  background: transparent;
}
.case-details .case-details-slider .owl-nav .owl-prev {left: 15px;}
.case-details .case-details-slider .owl-nav .owl-next {right: 15px;}
.case-details .two-column-img {padding: 60px 0 70px;}
.case-details .two-column-img img {width: 100%;margin-top: 15px;}
.case-details .text-wrapper .case-title {
  font-size: 52px;
  font-weight: 700;
  padding-bottom: 32px;
}
.case-details .text-wrapper .sub-text {
  font-size: 21px;
  line-height: 31px;
  padding-bottom: 85px;
}
.case-details .text-wrapper .row p {padding: 0 50px 17px 0;}
.case-details .text-wrapper .row ul li span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #5b5a5a;
}
.case-details .text-wrapper .row ul li div {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  padding: 10px 0 15px;
}
.case-details .text-wrapper .row ul li:last-child div {padding-bottom: 0;}
.case-details .text-wrapper .social-icon {text-align: center;padding: 80px 0 85px;}
.case-details .text-wrapper .social-icon li {display: inline-block;padding: 0 20px;}
.case-details .text-wrapper .social-icon li a {
  font-size: 25px;
  color: #909090;
}
.case-details .case-pagination {position: relative;}
.case-details .case-pagination ul li a {
  font-weight: 600;
  font-size: 20px;
  line-height: 75px;
  background: #fffaf5;
  width: 470px;
  text-align: center;
}
.case-details .case-pagination ul li a:hover {color: #fff;}
.case-details .case-pagination ul li.prev {float: left;}
.case-details .case-pagination ul li.next {float: right;}
/*----------------------- Related Case ------------------*/
.related-case {padding-bottom: 80px;}
.related-case .title {font-size: 30px;padding-bottom: 50px;}
.related-case a {display: block;}
.related-case .owl-carousel .owl-item img {width: 100%;border-radius: 10px;}
/*---------------------- Theme Sidebar ------------------*/
.theme-details-page {position: relative;padding: 250px 0 0;}
.theme-details-page .shape-one {
  position: absolute;
  top:10%;
  left:10%;
  z-index: -1;
}
.theme-details-page .shape-two {
  position: absolute;
  width: 22px;
  height: 22px;
  border:4px solid #9efcfc;
  border-radius: 50%;
  top:5%;
  right:12%;
  z-index: -1;
}
.theme-details-page .shape-three {
  position: absolute;
  top:13%;
  right:5%;
  z-index: -1;
}
.theme-details-page .shape-four {
  position: absolute;
  width: 42px;
  height: 42px;
  border:6px solid #9efcfc;
  border-radius: 50%;
  top:44%;
  left:3%;
  z-index: -1;
}
.theme-sidebar .sidebar-block {margin-bottom: 55px;}
.theme-sidebar .sidebar-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 25px;
}
.theme-sidebar .sidebar-search form {position: relative;height: 60px;}
.theme-sidebar .sidebar-search form input {
  width: 100%;
  height: 100%;
  border:1px solid #eaeaea;
  padding: 0 50px 0 15px;
  font-size: 16px;
}
.theme-sidebar .sidebar-search form button {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  width: 50px;
  background: transparent;
  color: #dbdad8;
}
.theme-sidebar .sidebar-newsletter form {position: relative;height: 60px;}
.theme-sidebar .sidebar-newsletter form input {
  width: 100%;
  height: 100%;
  border:1px solid #eaeaea;
  padding: 0 50px 0 15px;
  font-size: 16px;
}
.theme-sidebar .sidebar-newsletter form button {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  width: 50px;
  color: #fff;
  font-size: 16px;
}
.theme-sidebar .sidebar-categories ul li a {
  font-weight: 600;
  line-height: 60px;
  color: #222222;
  border-bottom: 1px solid #dee5e9;
  display: block;
}
.theme-sidebar .sidebar-categories ul li a span {float: right;}
.theme-sidebar .sidebar-banner {
  background: #7eafff;
  padding: 40px 20px 32px;
}
.theme-sidebar .sidebar-banner p {
  color: #fff;
  line-height: 30px;
  padding: 15px 0 20px;
}
.theme-sidebar .sidebar-banner span {
  display: block;
  color: #fff;
  font-size: 14px;
}
.theme-sidebar .sidebar-banner i {font-size: 30px;color: #fff;}
.theme-sidebar .sidebar-tags ul {margin: 0 -5px;}
.theme-sidebar .sidebar-tags ul li {padding: 0 5px;margin-bottom: 10px;float: left;}
.theme-sidebar .sidebar-tags ul li a {
  line-height: 40px;
  border: 1px solid #eaeaea;
  padding: 0 10px;
  color: #666666;
}
.theme-sidebar .sidebar-tags ul li a:hover {color: #fff;}
.theme-sidebar .sidebar-recent-post ul li a {
  color: #5a5a5d;
  line-height: 24px;
  display: block;
  font-weight: 600;
}
.theme-sidebar .sidebar-recent-post ul li .date {font-size: 14px;margin-top: 10px;}
.theme-sidebar .sidebar-recent-post ul li {
  border-bottom: 1px solid #ededed;
  padding-bottom: 15px;
  margin-bottom: 22px;
}
.theme-sidebar .sidebar-recent-post ul li:last-child {margin-bottom: 0;}
.theme-sidebar .sidebar-recent-post ul li:hover {border-bottom-color: #ff8b00;}
/*--------------------- Blog List ------------------*/
.blog-list-style .single-blog-post {margin-bottom: 70px;}
.blog-list-style .single-blog-post .img-box {
  background: #212121;
  overflow: hidden;
  margin-bottom: 45px;
}
.blog-list-style .single-blog-post .img-box img {width: 100%;transition: all 0.4s ease-in-out;}
.blog-list-style .single-blog-post:hover .img-box img {
  opacity: 0.8;
  transform:scale3D(1.1,1.1,1);
}
.blog-list-style .single-blog-post .text-meta .tag-info {padding-bottom: 32px;}
.blog-list-style .single-blog-post .text-meta .tag-info li {
  float: left;
  line-height: 19px;
  border-right: 1px solid #bcbcbc;
  padding-right: 10px;
  margin-right: 10px;
}
.blog-list-style .single-blog-post .text-meta .tag-info li:last-child {
  border:none;
  padding-right: 0;
  margin-right: 0;
}
.blog-list-style .single-blog-post .text-meta .tag-info li a {font-size: 16px;color: #686868;}
.blog-list-style .single-blog-post .text-meta .title a {
  font-size: 38px;
  color: #101010;
  line-height: 45px;
  display: block;
  margin-bottom: 28px;
}
.blog-list-style .single-blog-post .text-meta .read-more {
  width: 220px;
  line-height: 60px;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
  background: #7eafff;
  color: #fff;
  margin-top: 42px;
}
.blog-list-style .single-blog-post .text-meta .read-more i {
  font-weight: normal;
  font-size: 25px;
  vertical-align: middle;
  margin-right: 12px;
}
/*--------------------- Blog Details --------------------*/
.blog-details-post .blog-details-data .date {
  float: left;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 18px 33px 0px rgba(182, 182, 182, 0.35);
  width: 142px;
  height: 111px;
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  color: #101010;
}
.blog-details-post .blog-details-data .date span {
  display: block;
  font-weight: 700;
  font-size: 40px;
}
.blog-details-post .blog-details-data .tag-info {
  float: left;
  padding: 58px 0 0 26px;
}
.blog-details-post .blog-details-data .tag-info li {
  float: left;
  line-height: 19px;
  border-right: 1px solid #bcbcbc;
  padding-right: 10px;
  margin-right: 10px;
}
.blog-details-post .blog-details-data .tag-info li:last-child {
  border:none;
  padding-right: 0;
  margin-right: 0;
}
.blog-details-post .blog-details-data .tag-info li a {font-size: 16px;color: #686868;}
.blog-details-post .blog-details-data .title {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  padding: 40px 0;
  color: #101010;
}
.blog-details-post .blog-details-data p {padding-bottom: 28px;}
.blog-details-post .blog-details-data .mark-text {
  font-size: 21px;
  line-height: 38px;
  color: rgba(0,0,0,0.8);
  background: #fef9f3;
  padding: 55px 80px 30px 50px;
  position: relative;
  z-index: 1;
  margin: 45px 0;
}
.blog-details-post .blog-details-data .mark-text:before,
.blog-details-post .blog-details-data .mark-text:after {
  content: "  ";
  font-family: 'font-awesome';
  position: absolute;
  color: #ffeed8;
  z-index: -1;
}
.blog-details-post .blog-details-data .mark-text:before {
  font-size: 35px;
  top:23px;
  left:45px;
}
.blog-details-post .blog-details-data .mark-text:after {
  font-size: 135px;
  right: 18px;
  bottom: 15px;
  line-height: initial;
}
.blog-details-post .share-option {padding: 40px 0 100px;}
.blog-details-post .share-option ul li {line-height: 34px;display: inline-block;}
.blog-details-post .share-option .share-icon {float: left;}
.blog-details-post .share-option .share-icon li:first-child {
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
}
.blog-details-post .share-option .share-icon li a {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #ffbf6c;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 34px;
  margin-right: 3px;
}
.blog-details-post .share-option .share-icon li a:hover {background: #d4d9ff;}
.blog-details-post .right-widget {float: right;}
.blog-details-post .right-widget li {
  font-size: 16px;
  font-weight: 700;
  margin-left: 15px;
}
.blog-details-post .right-widget li a {font-weight: normal;margin-right: 5px;}
.blog-details-post .right-widget li:first-child a {color: #dde1ff;}
.blog-details-post .right-widget li:last-child a {color: #feb9a2;}
.blog-details-post .author-text {
  background: #ffeed8;
  padding: 55px 115px 45px 35px;
  box-shadow: 0px 0px 20px 0px rgba(192, 192, 192, 0.35);
  margin-bottom: 110px;
}
.blog-details-post .author-text img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  float: left;
  margin-top: 22px;
}
.blog-details-post .author-text .text {
  float: left;
  width: calc(100% - 120px);
  padding-left: 65px;
}
.blog-details-post .author-text .text .name {
  color: #101010;
  padding-bottom: 22px;
}
.blog-details-post .blog-pagination ul li a {
  font-weight: 600;
  font-size: 18px;
  line-height: 66px;
  width: 200px;
  text-align: center;
  background: #fff;
  color: #7e9cc5;
  border-radius: 10px;
  box-shadow: 0px 0px 16px 0px rgba(206, 202, 202, 0.35);
}
.blog-details-post .blog-pagination ul li a:hover {color: #fff;}
.blog-details-post .blog-pagination ul li.prev {float: left;}
.blog-details-post .blog-pagination ul li.next {float: right;}
.blog-details-post .blog-pagination ul li a i {font-weight: normal;}
.blog-details-post .user-comment-area {padding: 100px 0 80px;}
.blog-details-post .inner-title {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 50px;
}
.blog-details-post .user-comment-area .user-comment {
  background: #fff;
  padding: 60px 70px 50px 40px;
  box-shadow: 0px 0px 16px 0px rgba(226, 226, 226, 0.35);
  margin-bottom: 70px;
}
.blog-details-post .user-comment-area .user-comment.user-reply {margin-left: 75px;} 
.blog-details-post .user-comment-area .user-comment img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  float: left;
  margin-top: 12px;
}
.blog-details-post .user-comment-area .user-comment .text {
  float: left;
  width: calc(100% - 120px);
  padding-left: 65px;
  position: relative;
}
.blog-details-post .user-comment-area .user-comment .text .name {
  color: #101010;
  padding-bottom: 22px;
}
.blog-details-post .user-comment-area .user-comment .text p {font-size: 16px;}
.blog-details-post .user-comment-area .user-comment .text .date {
  position: absolute;
  font-size: 16px;
  color: #feb9a2;
  top:0;
  right: 0;
}
.blog-details-post .user-comment-area .user-comment .text .reply-form {
  width: 85%;
  position: relative;
  margin-top: 20px;
}
.blog-details-post .user-comment-area .user-comment .text .reply-form input {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #e9e9e9;
  font-size: 15px;
}
.blog-details-post .user-comment-area .user-comment .text .reply-form button {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  font-size: 15px;
  color: #dde1ff;
  background: transparent;
}
.blog-details-post .comment-form form input,
.blog-details-post .comment-form form textarea {
  border: none;
  background: #fffbf6;
  border-radius: 30px;
  font-size: 16px;
  width: 100%;
}
.blog-details-post .comment-form form input {
  height: 60px;
  padding: 0 30px;
  margin-bottom: 50px;
}
.blog-details-post .comment-form form textarea {
  max-width: 100%;
  height: 218px;
  max-height: 218px;
  padding: 25px 30px;
  resize:none;
  margin-bottom: 45px;
}
.blog-details-post .comment-form form input:focus,
.blog-details-post .comment-form form textarea:focus {box-shadow: 0px 20px 18px 0px rgba(230, 211, 188, 0.35);}
/*--------------------- Faq Section -------------------*/
.faq-section {
  position: relative;
  padding: 275px 0 80px 0;
}
.faq-section .faq-block .title {
  font-size: 24px;
  padding-bottom: 30px;
  color: #585880;
}
.faq-section .faq-block {padding-bottom: 65px;}
.faq-section .shape-one {
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  z-index: -1;
}
.faq-section .round-shape-one {
  border-radius: 10px;
  box-shadow: 0px 16px 30px 0px rgba(181, 179, 185, 0.35);
  position: absolute;
  top: 13%;
  width: 27px;
  height: 26px;
  z-index: 1;
  left:50%;
  transform: translateX(-50%);
  animation: scale-up 4s ease-in-out alternate infinite;
}
/*------------------- Error Page -------------------*/
.error-page {
  position: relative;
  padding: 230px 0 60px;
  text-align: center;
}
.error-page .illustration {
  max-width: 1000px;
  margin: 0 auto;
}
.error-page p {
  font-size: 20px;
  line-height: 36px;
  padding: 98px 0 68px;
  color: #405872;
}
.error-page .home-button {
  width: 380px;
  line-height: 70px;
  border-radius: 10px;
  background: #fff6f1;
  font-size: 20px;
  font-weight: 600;
}
.error-page .home-button:hover {color: #fff;}
.error-page .shape-one {
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  z-index: -1;
}
/*-------------------- Contact Page ----------------------*/
.contact-page {
  position: relative;
  padding: 200px 0 80px;
}
.contact-page .shape-one {
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  z-index: -1;
}
.contact-page .section-title {
  font-size: 35px;
  color: #537097;
  text-align: center;
  padding-bottom: 80px;
}
.contact-page .contact-form {
  padding: 80px 40px 60px;
  background: #fff;
  box-shadow: 0px 0px 22px 0px rgba(205, 205, 205, 0.35);
  margin-bottom: 120px;
}
.contact-page .contact-form input,
.contact-page .contact-form textarea {
  width: 100%;
  border:1px solid #e6f1ff;
  margin-bottom: 30px;
  font-size: 16px;
  color: #9cafc9;
}
.contact-page .contact-form input {
  height:60px;
  padding: 0 25px; 
}
.contact-page .contact-form textarea {
  height: 192px;
  max-height: 192px;
  max-width: 100%;
  padding: 25px;
}
.contact-page .contact-form button {
  width: 130px;
  line-height: 50px;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
}
.contact-page .google-map {height: 600px;}
.map-canvas {width: 100%;height: 100%;}
.contact-page .quick-find-block {
  background: #fff;
  box-shadow: 0px 0px 37px 0px rgba(243, 216, 255, 0.35);
}
.contact-page .quick-find-block .block-title {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  padding: 28px 0;
}
.contact-page .quick-find-block ul {padding: 65px 0 10px 80px;}
.contact-page .quick-find-block ul li {padding-bottom: 38px;}
.contact-page .quick-find-block ul li strong {
  font-weight: 600;
  color: #272626;
}
.contact-page .quick-find-block ul li p {
  font-size: 16px;
  color: #a3a1a1;
  padding-top: 2px;
  line-height: 34px;
}
.contact-page .additional-block {
  background: #fff;
  box-shadow: 0px 0px 37px 0px rgba(243, 216, 255, 0.35);
  text-align: center;
  padding: 48px 38px 90px;
  position: relative;
  margin-bottom: 65px;
}
.contact-page .additional-block h5 {
  font-size: 21px;
  padding-bottom: 25px;
}
.contact-page .additional-block .read-more {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  bottom: -48px;
  left:50%;
  margin-left: -48px;
  line-height: 96px;
  background: #fff8ef;
  color: #f7b05a;
}
.contact-page .additional-block .read-more:hover {color: #fff;}
.contact-page .social-icon {text-align: center;padding-top: 85px;}
.contact-page .social-icon ul,
.contact-page .social-icon ul li {display: inline-block;}
.contact-page .social-icon ul li a {
  width: 81px;
  line-height: 86px;
  border-radius: 10px;
  background: #fff8ef;
  font-size: 24px;
  margin: 0 12px;
  color: #b1381f;
}
.contact-page .social-icon ul li a:hover {color: #fff;}
/*======================= Form Validation ===================*/
.alert-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  z-index: 9999999;
}
#success,#error {
  position: relative;
  width:500px;
  height: 100px;
  top: calc(50% - 50px);
  left:calc(50% - 250px);
  background: rgba(0,0,0,0.8);
  text-align: center;
}
#success .wrapper,#error .wrapper {
  display: table;
  width:100%;
  height: 100%;
}
#success .wrapper p,#error .wrapper p{
  display: table-cell;
  vertical-align: middle;
  letter-spacing: 1px;
}
#success p {color: #26ace3;}
#error p {color: #C9182B;}
#error button,
#success button {
  color:#fff;
  width:40px;
  height:40px;
  line-height: 20px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 20px;
}
.form-validation label.error {display: none !important;}
.form-validation input.error,.form-validation textarea.error {border:1px solid #f03838 !important;}